# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Virtual environment
env/
venv/
ENV/
.venv/

# VS Code settings
.vscode/

# Data files
*.csv
*.tsv
*.data

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Python egg files
*.egg
*.egg-info/
dist/